<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Quill Basic Editor'" [classHeader]="true">
      <span class="code-header">use options with <code>quill-editor</code> elements</span>
      <quill-editor
        [(ngModel)]="editorContent"
        [options]="editorConfig"
        (blur)="onEditorBlured($event)"
        (focus)="onEditorFocused($event)"
        (ready)="onEditorCreated($event)"
        (change)="onContentChanged($event)">
      </quill-editor>
    </app-card>
    <app-card [title]="'Basic Inputs Validation'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Product Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="productName" placeholder="Product Name" formControlName="productName">
            <div class="messages text-danger" *ngIf="myForm.controls.productName.errors?.required">Product Name can't be blank</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Product Price:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="productPrice"  placeholder="Product Price" formControlName="productPrice">
            <div class="messages text-danger error" *ngIf="myForm.controls.productPrice.errors?.required">Product Price can't be blank</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Repeat Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="rpassword" placeholder="Repeat Password" formControlName="rpassword">
            <div class="messages text-danger" *ngIf="myForm.controls.rpassword.errors?.required">Repeat password can't be blank</div>
            <div class="messages text-danger" *ngIf="myForm.controls.rpassword.errors?.equalTo">The passwords does not match</div>

          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="Enter valid e-mail address" formControlName="email">
            <div class="messages text-danger" *ngIf="myForm.controls.email.errors?.required">Email can't be blank</div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Radio Buttons</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" value="option1" formControlName="gender"> Male
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" value="option2" formControlName="gender"> Female
              </label>
            </div>
            <div class="messages text-danger" *ngIf="myForm.controls.gender.errors?.required">Gender can't be blank</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary m-b-0" [disabled]="!myForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <app-card [title]="'Default Select'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="row">
        <div class="col-sm-12 col-xl-4">
          <h4 class="sub-title">Single Select</h4>
          <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [(ngModel)]="selectedOption"> </ng-select>
          <p class="m-t-10"><code>ng-select</code> can take a regular select box like this...</p>
        </div>

      </div>

    </app-card>
  </div>
</div>
