<div class="row">
  <div class="col-sm-12">

    <app-card [title]="'Add New Category Details'" [headerContent]="''">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Category Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="category_name" placeholder="Category Name"
                   formControlName="category_name">
            <div class="messages text-danger" *ngIf="myForm.controls.category_name.errors?.required">Category Name can't
              be blank
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Parent Category Name</label>
          <div class="col-sm-10">
            <ng-select [ngClass]="'ng-select'" formControlName="parent_category_id" [options]="simpleOption"
                       [(ngModel)]="selectedOption"></ng-select>
            <div class="messages text-danger" *ngIf="myForm.controls.parent_category_id.errors?.required">Parent Category
              Name can't be blank
            </div>

          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Store Name</label>
          <div class="col-sm-10">
            <ng-select [ngClass]="'ng-select'" formControlName="store_id" [options]="simpleOption"
                       [(ngModel)]="selectedOption"></ng-select>
            <div class="messages text-danger" *ngIf="myForm.controls.store_id.errors?.required">Store
              Name can't be blank
            </div>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Category Image</label>
          <div class="col-sm-10">
            <ng2-file-input [id]="category_image" (onRemoved)="onRemoved($event)" [multiple]="false  "
                            (onAdded)="onAdded($event)" (onAction)="onAction($event)"
                            [removable]="true"></ng2-file-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Category Description:</label>
          <div class="col-sm-10">
            <quill-editor
              [(ngModel)]="editorContent"
              [options]="editorConfig"
              formControlName="category_description"
              (blur)="onEditorBlured($event)"
              (focus)="onEditorFocused($event)"
              (ready)="onEditorCreated($event)"
              (change)="onContentChanged($event)">
            </quill-editor>
            <div class="messages text-danger" *ngIf="myForm.controls.category_description.errors?.required">Category
              Description can't be blank
            </div>
          </div>
        </div>
        <div class="form-group row" style="margin: 60px 0px;">
          <label class="col-sm-2"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary m-b-0" [disabled]="!myForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </app-card>

  </div>
</div>


